.parallax {
    background: url(../img/center-background-foto.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;  
    /* background-position: center;
    background-repeat: no-repeat; */
    scroll-behavior: smooth;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 100%;
    max-width: 100%;
}
body > main > section.parallax.container > div > div.parallax-section > h2 > span {
    font-size: 38px;
    color: #FFF;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    word-wrap: break-word;
    line-height: 1.3;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
    margin-bottom: .5rem;
}
.main-par-sec {
    display: flex;
    flex-direction: column;
} 
.empty-parallax-section {
    display: none;
}
.parallax-section {
    padding: 0 20px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 768px){
    .empty-parallax-section {
        display: block;
        width: 100%;
    }
    .main-par-sec {
        flex-direction: row;
    }
    body > main > section.parallax.container > div > div.parallax-section > h2 > span {
        font-size: 46px;
    }
}
@media (min-width: 992px){
    body > main > section.parallax.container > div > div.parallax-section > h2 > span {
        font-size: 54px;
    }    
}
.content-light {
    font-size: 16px;
    margin: 25px 0 0;
}
.button {
    font-family: var(--text-font);
    text-decoration: none;
    background-color: var(--button-and-linkhover-color);
    text-align: center;
    display: block;
    padding: 15px 32px;
    width: 230px;
    height: 55px;
    margin: 60px 0 0 0;
    cursor: pointer;
    font-size: 12px;
    color: #FFF;
    text-align:center;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-width: 2px;
    border-color: transparent;
    border-style: solid;
}
.button:hover {
    background-color: #FFF;
    transition: .3s;
    color: var(--dark-color);
}

.choose-block {
    display: flex;
    flex-direction: column;
    padding: 100px 40px;
}
.content-choose-block {
    display: flex;
    flex-direction: column;
}
.choosing-title {
    font-size: 34px; 
    margin-bottom: 30px;
    display: block;
    font-weight: 600;
}  
.check-text {
    display: flex;
    flex-direction: row;
    margin: 10px 20px 10px -20px;
}  
.check-svg {
   width: 15%;
}
.svg-text {
    width: 85%;
}
body > main > section.choosing.container > div > div.image-choose-block > img {
    min-width: 320px;
}
.image-choose-block {
    padding: 0 20px;
}
 
 @media (min-width: 768px) {
    .choose-block {
        flex-direction: row;
    }
    .choosing-title {
        font-size: 46px;
    } 
    body > main > section.choosing.container > div > div.image-choose-block {
        display: flex;
        align-items: center;
    }
}
    
    
.cases {
    /* background-image: url(../img/background-foto2.jpg); */
    background-color: #1f6964;
    padding: 80px 50px;
    width: 100%;
    height: 100%;
}
.cases-info {
    background-color: var(--navbar-color);
    margin: 30px 15px;
    padding: 30px;
}
.cases-svg {
    margin:0 0 20px 0;
}
.main-cases-info {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px){
    .main-cases-info {
        flex-direction: row;
    }
    .cases-title {
        font-size: 54px!important;
    } 
    .cases-svg {
        height: 70px;
    }
}
.cases-title {
    font-size: 38px;
    color: #FFF;
    display: block;
    text-align: center;
}

.section-contacts-form {
    background-color: #1f6964;
    display: flex;
    flex-direction: column;
    padding: 100px 40px;
}
 div.contacts > h2 {
     color: #FFF;
     font-size: 38px;
     font-family: var(--main-font);
 }
 .contacts-list-text {
     color: #E1E1E1;
 }
.contacts-list-title {
     font-size: 24px;
 }
 .contacts {
     display: flex;
     flex-direction: column;
    width: 100%;
    padding: 0 20px;
    justify-content: center;
 }
 .form {
     width: 100%;
     display: flex;
     justify-content: center;
     flex-direction: column;
 }
@media (min-width: 768px){
    .section-contacts-form {
        flex-direction: row;
    }
    .contacts-list-item {
        /* display: flex;
        flex-direction: row; */
        display: table-cell;
        align-items: center;
        vertical-align: middle;
        word-break: break-all;
        padding: 15px 0; 
    }
    div.contacts > h2 {
        font-size: 54px;
    }
    .contacts-list-title {
        font-size: 30px;
    }
}

.contact-input-form {
    line-height: 1.6;
    font-weight: 400;
    font-family: var(--text-font);
    font-size: 12px;
    color: #828282;
}
.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
textarea {
    min-height: 150px;
    resize: none;
}
.input-form {
    background-color: rgb(53, 79, 80);
    padding: 50px;
}
.ui-input--size-md {
    padding: 20px 50px;
    margin: 12px 0 0;
    font-size: 12px;
    line-height: 1.25;
}
#btn-form {
    margin: 0;
    width: 100%;
}
.text-footer {
    font-size: 16px;
    font-family: var(--text-font);
}
.title-footer {
    font-size: 24px;
    font-family: var(--main-font);
    color: var(--dark-color);
    line-height: 1.5;
    font-weight: 700;
}
.footer-link {
    font-size: 16px;
    font-family: var(--text-font);
    color: #141414;
    text-decoration: none;
}
.footer-link:hover {
    color: #676767;
}
.outer_bDW-f {
    fill:none;
    stroke: #e0a178;
    width: 30px;
    border: 2px;
    border-color: #e0a178;
}
.outer_bDW-f:hover {
    fill:#e0a178;
    stroke: none;
    transition: .5s;
}
.logo_2gS:hover {
    fill:none!important;
    transition: .5s;
}

.navigation-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    padding: 30px 0 30px;
}
.title-footer, .footer-link {
    display: block;
    text-align: center;
}
.navigation-footer, .call-me-footer, .write-me-footer, .visit-me-footer {
    padding: 30px 0 10px;
}
.call-me-footer, .visit-me-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socialicons-view-f {
    padding: 10px;
}
.socialicons-view-footer {
    padding: 30px 0 0 0;
}
.logo-footer {
    margin: 40px 0 0 0;
}

@media (min-width:768px){
    .navigation-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    .title-footer {
        font-size: 30px;
    }
}

