.header-section {
    height: 100vh;
    background: url(../img/header-background-foto.webp);
    background-size: cover;
    background-attachment: fixed;  
}

.header-navbar-wrapper{
    background-color: ;
}
.header-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-logo-link {
    min-width: 300px;
}

.link-decoration {
    text-decoration: none;
    color: var(--basic-color);
}

.link-decoration:hover {
    color: var(--button-and-linkhover-color)
}